dist/
.runtime-work/
common/python/
__pycache__/
*.pyc
*.log
.DS_Store
config/font_weight.conf
config/font_weight_original.conf
config/*_reboot_required.conf
config/*_task.conf
config/webui_font_list.*
*.jks
*.keystore
*.p12
keystore.properties
